p#pogrubione_vorokh
{
  font-size:30px;
  color:#815ED0;
}

p#pochylona_vorokh
{
  font-size:35pt;
  color:#e5c26c;
}

p#index_gorny_vorokh
{
  font-size:1cm;
  color:#95901c;
}

p#index_dolny_vorokh
{
  font-size:1.5cm;
  color:rgb(19%,95%,89%);
}
p#mono_vorokh
{
  font-size:40px;
  color:#15e06c;
}


p#powiekszenie_vorokh
{
  color:#4f409e;
}

p#pomniejszenie_vorokh
{
  color:rgb(70%,64%,23%);
}
